.bandeau_noir {
    background-color: #000;
    padding: 80px 20px; 
    margin-top: 80px;
    img {
        margin: 0px 25px;
    }
    @media screen and (min-width: 992px) {
        padding: 80px 50px; 
        img {
            margin: 0px 30px;
        }
    }
}