@use '../../../variables';
.header_hp {
    height: 100vh;
    width: 100%;
    margin-bottom: 80px;
    h1 {
        font-size: 60px;
        font-weight: 500;
        color: #000;
    }
    h2 {
        font-family: variables.$montserrat;
        font-weight: 600;
        text-transform: none;
        color: #000;
        font-size: 20px;
        strong {
            color: variables.$rouge;
            font-weight: 600;
        }
    }
    img {
        margin-top: 80px;
    }
        
    @media screen and (min-width: 992px) {
        height: 60vh;
        h1 {
            font-size: 72px;
        }
        img {
            margin-top: 0;
            margin-left: 80px;
        }
    }
}