@use '../../../variables';
.bandeau_rouge {
    background-color: variables.$rouge;
    padding: 80px 20px; 
    p {
        font-family: variables.$montserrat;
        font-weight: 600;
        font-size: 20px;
        color: #FFF;
    }
}