@use 'variables';
/************************


            Général


**************************/

h1, h2, h3, h4 {
    font-family: variables.$bebas;
    color: #000;
}
body { 
    p {
        font-family: variables.$montserrat;
    }
}
.btn-noir {
    background-color: #000;
    color: #FFF;
    text-transform: uppercase;
    padding: 15px 35px;
    font-family: variables.$bebas;
    font-size: 24px;
    text-decoration: none;
}
h3 {
    font-weight: 500;
    font-size: 27px;
    color: #000;
    display: inline-block;
    text-shadow: 7px 3px 5px #aeaeae;
    &:after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: variables.$rouge;
        display: block;
        box-shadow: 3px 3px 5px #aeaeae;
    }
}
.container {
    max-width: 1120px !important;
}